@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.ctn {
  margin: auto;
  max-width: 1440px;
}

.padding-all {
  padding: 0 146px;
}
@media only screen and (max-width: 996px) {
  .padding-all {
    padding: 0;
  }
}

h1 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.hero {
  width: 100%;
  height: 962px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .hero {
    height: 400px;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .hero {
    height: 500px;
  }
}
.hero img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_ttl {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  font-style: italic;
  font-family: "Space Mono", sans-serif;
  font-size: 6.5vw;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px #fff;
}

.photo-block {
  width: 564px;
  height: 495px;
}
@media only screen and (max-width: 600px) {
  .photo-block {
    width: 318px;
    height: 278px;
  }
}
.photo-block_img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo-block_hover {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100%;
  height: 100%;
}
.photo-block_hover-fullscreen, .photo-block_hover-eye {
  text-decoration: none;
  position: absolute;
}
.photo-block_hover-eye {
  right: 45%;
  bottom: 45%;
}
.photo-block_hover-fullscreen {
  top: 3%;
  left: 91%;
  cursor: pointer;
}
.photo-block_hover-elements {
  height: 100%;
  width: 100%;
}
.photo-block_hover-infos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  right: 5%;
  bottom: 0;
}
.photo-block_hover-ttl, .photo-block_hover-cat {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.wrapper {
  position: relative;
}
.wrapper:hover .photo-block_hover {
  display: initial;
}

.header {
  padding: 35px 146px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 35px 0;
  }
}
.header_logo img {
  width: 216px;
}
.header_desk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
@media only screen and (max-width: 600px) {
  .header_desk {
    padding: 0 3rem;
  }
}
.header_wrp .menu {
  list-style-type: none;
  display: flex;
  gap: 45px;
}
.header_wrp .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header .main-navigation {
    display: none;
  }
}
.header_burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header_burger {
    display: block;
  }
}
.header_mobile {
  display: none;
}
.header_mobile .mobile-navigation {
  height: 100vh;
  background-color: #E00000;
  margin-top: 2rem;
}
.header_mobile .mobile-navigation .menu {
  flex-direction: column;
  align-items: center;
  padding: 25rem 0 0 0;
}
.header_mobile .mobile-navigation .menu .menu-item {
  font-size: 44px;
}
.header_mobile .mobile-navigation .menu .menu-item a {
  color: white;
}
.header_mobile-wrp {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.header .display-mobile {
  display: block;
}
.header .dont-show {
  display: none;
}

.footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid;
}
.footer .menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 85px;
}
@media only screen and (max-width: 600px) {
  .footer .menu {
    flex-direction: column;
    align-items: center;
  }
}
.footer .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  position: relative;
  padding-bottom: 100px;
  min-height: 100%;
}
@media only screen and (max-width: 600px) {
  main {
    padding-bottom: 26px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.contact.display {
  display: none;
}
.contact_wrp {
  background-color: white;
  border: 5px solid black;
  overflow: hidden;
  margin: auto;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .contact_wrp {
    width: 286px;
  }
}
.contact_wrp form p {
  display: flex;
  flex-direction: column;
}
.contact_wrp form label {
  text-transform: uppercase;
  font-size: 12px;
}
.contact_wrp form input, .contact_wrp form textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  padding: 11px;
  width: 263px;
}
@media only screen and (max-width: 600px) {
  .contact_wrp form input, .contact_wrp form textarea {
    width: 190px;
  }
}
.contact_wrp form input[type=submit] {
  cursor: pointer;
  border: none;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: #D8D8D8;
  border-radius: 2px;
  padding: 16px;
  width: 100%;
}
.contact_header {
  margin-left: -157px;
}
.contact_txt {
  font-size: 70px;
  line-height: 0.9;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .contact_txt {
    font-size: 40px;
  }
}
.contact #wpcf7-f25-o1 {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
}

.lightbox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.lightbox.inactive {
  display: none;
}
.lightbox_med {
  position: absolute;
  top: 56%;
  left: 50%;
  max-width: 383px;
  transform: translate(-50%, -50%);
}
.lightbox_img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.lightbox_infos {
  display: flex;
  justify-content: space-between;
}
.lightbox_ref, .lightbox_cat {
  text-transform: uppercase;
  color: white;
}
.lightbox_nav {
  position: absolute;
  width: 70%;
  top: 50%;
  right: 15%;
}
.lightbox_prev, .lightbox_next {
  position: absolute;
  display: flex;
  cursor: pointer;
  gap: 1rem;
  top: 50%;
}
.lightbox_prev p, .lightbox_next p {
  color: white;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
}
.lightbox_next {
  right: 0;
}

#close {
  position: absolute;
  right: 65px;
  top: 55px;
  cursor: pointer;
}

.b-content_wrp {
  display: flex;
  margin-top: 38px;
}
@media only screen and (max-width: 996px) {
  .b-content_wrp {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.b-content_txt, .b-content_med {
  width: 50vw;
}
@media only screen and (max-width: 996px) {
  .b-content_txt, .b-content_med {
    width: 100%;
  }
}
.b-content_med {
  align-self: end;
}
@media only screen and (max-width: 996px) {
  .b-content_med {
    align-self: auto;
  }
}
.b-content_img {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 996px) {
  .b-content_img {
    justify-content: center;
  }
}
.b-content_img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50%;
  max-width: 40vw;
}
@media only screen and (max-width: 600px) {
  .b-content_img img {
    max-width: 80vw;
  }
}
.b-content_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.b-content_ttl {
  text-transform: uppercase;
  font-size: 66px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .b-content_ttl {
    padding: 0 40px;
    font-size: 46px;
  }
}
.b-content_info {
  font-family: "Space Mono";
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .b-content_info {
    padding: 0 56px;
  }
}
.b-content .horizontal-line-sm {
  border-bottom: 1px solid black;
  margin-top: 2rem;
  width: 98%;
}
@media only screen and (max-width: 600px) {
  .b-content .horizontal-line-sm {
    width: 100%;
  }
}
.b-content .horizontal-line-lg {
  display: block;
  border-bottom: 1px solid black;
}
.b-content_contact {
  display: flex;
  gap: 3rem;
  padding: 3rem 0;
}
@media only screen and (max-width: 600px) {
  .b-content_contact {
    flex-direction: column;
    padding: 24px 40px;
    gap: 1rem;
    width: 100%;
  }
}
.b-content_btn {
  background-color: #D8D8D8;
  font-family: "Space Mono";
  padding: 16px 110px;
  text-align: center;
  cursor: pointer;
}
.b-content_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-content_nav {
  position: relative;
  align-items: center;
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 996px) {
  .b-content_nav {
    display: none;
  }
}
.b-content_nav a {
  text-decoration: none;
}
.b-content_nav-prev, .b-content_nav-next {
  display: flex;
  flex-direction: column-reverse;
}
.b-content_nav-preview1, .b-content_nav-preview2 {
  height: 100px;
}
.b-content_nav-preview1 img, .b-content_nav-preview2 img {
  display: none;
  position: absolute;
  left: 0;
  width: 80px;
  height: 70px;
}
.b-content_nav-prev-link:hover + .b-content_nav-preview1 img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-content_nav-next-link:hover + .b-content_nav-preview2 img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-content_sugg {
  padding-top: 65px;
}
@media only screen and (max-width: 600px) {
  .b-content_sugg {
    padding-top: 25px;
  }
}
.b-content_sugg-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b-content_sugg-ttl {
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .b-content_sugg-ttl {
    text-align: center;
  }
}
.b-content_sugg-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 40px 0;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .b-content_sugg-photos {
    margin: 0;
  }
}
.b-content .all-photos-btn {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #D8D8D8;
  font-family: "Space Mono";
  padding: 16px 75px;
}
@media only screen and (max-width: 600px) {
  .b-content .all-photos-btn {
    display: none;
  }
}

.section-filtres {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  margin-top: 80px;
}
@media only screen and (max-width: 600px) {
  .section-filtres {
    padding: 0 15px;
    margin-top: 40px;
  }
}
.section-filtres_catform {
  display: flex;
  gap: 36px;
}
.section-filtres_select {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 260px;
  padding: 12px 18px;
  border-radius: 8px;
  border: 1.3px solid var(--blues-gray-2, #B8BBC2);
}
.section-filtres_options {
  display: none;
  padding: 0;
  margin: 0;
}
.section-filtres_options li {
  list-style: none;
  padding: 12px 18px;
}
.section-filtres_options li:hover {
  background-color: #E00000;
}
.section-filtres_options li:hover a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.section-filtres_options a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
.section-filtres .show-options {
  display: block;
}
.section-filtres .rotate {
  transform: rotate(180deg);
}
.section-filtres .active {
  border-radius: 8px 8px 0px 0px;
  border: 1.3px solid #215AFF;
}
.section-filtres #filtre-cat, .section-filtres #filtre-formats, .section-filtres #filtre-date {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section-filtres #categories-select:focus-visible,
.section-filtres #format-select:focus-visible,
.section-filtres #sort-date:focus-visible {
  outline: none;
}

.section-photos {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .section-photos {
    margin-top: 40px;
  }
}
.section-photos_wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.section-photos .load-more-btn {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  background-color: #D8D8D8;
  font-family: "Space Mono";
  padding: 16px 95px;
}/*# sourceMappingURL=main.css.map */