@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.ctn {
  margin: auto;
  max-width: 1150px;
}

h1 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.hero {
  width: 100%;
  height: 962px;
  position: relative;
}
.hero img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_ttl {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: transparent;
  font-style: italic;
  font-family: "Space Mono", sans-serif;
  font-size: 6.5vw;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px #fff;
}

.photo-block {
  width: 564px;
  height: 495px;
}
.photo-block_img {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  padding: 35px 0;
}
.header_logo img {
  width: 216px;
}
.header_wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_wrp .menu {
  list-style-type: none;
  display: flex;
  gap: 45px;
}
.header_wrp .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: black;
}

.footer {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid;
}
.footer .menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 85px;
}
.footer .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  position: relative;
  padding-bottom: 100px;
  min-height: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.contact.display {
  display: none;
}
.contact_wrp {
  background-color: white;
  border: 5px solid black;
  overflow: hidden;
  margin: auto;
  width: 600px;
}
.contact_wrp form p {
  display: flex;
  flex-direction: column;
}
.contact_wrp form label {
  text-transform: uppercase;
  font-size: 12px;
}
.contact_wrp form input, .contact_wrp form textarea {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  padding: 11px;
  width: 263px;
}
.contact_wrp form input[type=submit] {
  border: none;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: #D8D8D8;
  border-radius: 2px;
  padding: 16px;
  width: 100%;
}
.contact_header {
  margin-left: -157px;
}
.contact_txt {
  font-size: 70px;
  line-height: 0.9;
  margin: 0;
}
.contact #wpcf7-f25-o1 {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
}

.b-content_wrp {
  display: flex;
}
.b-content_txt, .b-content_med {
  width: 50vw;
}
.b-content_med {
  align-self: end;
}
.b-content_img {
  display: flex;
  justify-content: flex-end;
}
.b-content_img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 50%;
  max-width: 37vw;
}
.b-content_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.b-content_ttl {
  text-transform: uppercase;
  font-size: 66px;
  margin: 0;
}
.b-content_info {
  font-family: "Space Mono";
  text-transform: uppercase;
}
.b-content .horizontal-line-sm {
  border-bottom: 1px solid black;
  margin-top: 2rem;
  width: 98%;
}
.b-content .horizontal-line-lg {
  display: block;
  border-bottom: 1px solid black;
}
.b-content_contact {
  display: flex;
  gap: 3rem;
  padding: 3rem 0;
}
.b-content_btn {
  background-color: #D8D8D8;
  font-family: "Space Mono";
  padding: 16px 110px;
}
.b-content_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-content_nav {
  align-items: center;
  display: flex;
  gap: 30px;
}
.b-content_nav a {
  text-decoration: none;
}
.b-content_nav-prev, .b-content_nav-next {
  display: flex;
  flex-direction: column-reverse;
}
.b-content_nav-preview1, .b-content_nav-preview2 {
  height: 100px;
}
.b-content_nav-preview1 img, .b-content_nav-preview2 img {
  display: none;
  width: 80px;
  height: 70px;
}
.b-content_nav-prev-link:hover + .b-content_nav-preview1 img {
  display: block;
}
.b-content_nav-next-link:hover + .b-content_nav-preview2 img {
  display: block;
}
.b-content_sugg {
  padding-top: 65px;
}
.b-content_sugg-ttl {
  text-transform: uppercase;
}
.b-content_sugg-photos {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.section-photos {
  margin-top: 80px;
}
.section-photos_wrp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */