// FOOTER

.footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid;

    .menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        gap: 85px;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
        li a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Space Mono', Arial, Helvetica, sans-serif;
            font-weight: 400;
            color: black;
        }
    }
}

// Position fixée en bas

body  {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
}

