.section-photos {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
        margin-top: 40px;
    }
    &_wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 40px;
    }

    .load-more-btn {
        width: fit-content;
        text-decoration: none;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 2px;
        background-color: #D8D8D8;
        font-family: "Space Mono";
        padding: 16px 95px;
    }
}