// HEADER

.header {

    padding: 35px 0;

    &_logo img {
        width: 216px;
    }

    &_desk {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_wrp {
        .menu {
            list-style-type: none;
            display: flex;
            gap: 45px;
            li a {
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Space Mono', Arial, Helvetica, sans-serif;
                font-weight: 400;
                color: black;
            }
        }
    }

    .main-navigation {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &_burger {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }

    }

    &_mobile {
        display: none;
        &-wrp {
            display: flex;
            justify-content: space-between;
        }
    }

    .display-mobile {
        display: block;
    }

    .dont-show {
        display: none;
    }
}